.item {
    margin-bottom: 8px;
    width: 512px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 32px;
}
.item-body {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16pt;
    font-weight: bold;
}
.item-time {
    color: rgba(0, 0, 0, 0.4);
    font-size: 9pt;
    font-style: italic;
}
.item button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: indianred;
    color: #fff;
    font-size: 16pt;
}
#new input {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16pt;
}
#new button {
    background-color: steelblue;
}